:root {
  --transparent-used: rgba(0, 0, 0, 0); /* Transparencia para los controles */
  --transparent-hover: rgba(0, 0, 0, 0.5); /* Transparencia al pasar el mouse */
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: black;
  overflow: hidden;
}

.video-element, .video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

video {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--transparent-used);
  color: #fff;
  transition: background-color 0.2s ease; /* Transición suave al mostrar/ocultar controles */
}

.video-controls:hover {
  background-color: var(--transparent-hover); /* Cambia el fondo al pasar el mouse */
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 40px;
  text-align: center;
}

button:hover {
  transform: scale(1.2);
}

.progress-bar {
  flex-grow: 1;
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  position: relative;
  margin: 0 10px;
}

.progress {
  height: 100%;
  background-color: red;
  width: 0; /* Inicialmente, la barra de progreso está vacía */
}

.duration-time {
  color: #ffffff;
  font-size: 14px;
  margin-left: 10px;
}

.time-tooltip {
  position: absolute;
  bottom: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  white-space: nowrap;
  pointer-events: none;
}

@media (fullscreen) {
  .video-controls {
    bottom: 10px; /* Ajuste en modo completo para que se vea bien */
    background-color: var(--transparent-used); /* Fondo más oscuro en pantalla completa */
  }

  .time-tooltip {
    bottom: 110%; /* Ajuste para que la tooltip esté más arriba en modo completo */
  }
}
